* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow: hidden;*/
}

body {
  /*display: grid;*/
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  user-select: none;
  letter-spacing: 0.05em;
}

a{
  text-decoration: none;
}

p {
  font-family: "Telegraf-Regular";
  font-size: 1rem;
  color: #141414;
  line-height: 170%;
}

@font-face {
  font-family: "Telegraf-Regular";
  src: url("fonts/Telegraf-Regular.woff");
}

@font-face {
  font-family: "Telegraf-Bold";
  src: url("fonts/Telegraf-Bold.woff");
}

.intro-section {
  margin-left: 5rem;
  margin-top: 2rem;
}

.intro-section-title {
  font-family: "Telegraf-Bold";
  text-transform: uppercase;
  font-size: 2rem;
  color: #3a64fa;
}

.text-description {
  font-family: "Telegraf-Regular";
  font-size: 1rem;
  color: #141414;
  letter-spacing: 0.05em;
}

.intro-section-description {
  padding-top: 0.5rem;
}

#my_dataviz {
  position: relative;
  margin-top: 20px;
}

.xAxis-label{
  position: relative;
}

.xAxis-label-title{
  position: absolute;
  right: 10rem;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// F I L T E R //////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.filter-section {
  margin: 0 10rem 2rem 5rem;
  color: #141414;
}

.filter-section-attributes {
  display: flex;
  font-family: "Telegraf-Regular";
  font-size: 0.8rem;
  border: 1.5px solid #141414;
  padding: 0.7rem 0 0.7rem 0;
  margin-bottom: 1rem;
}

.filter-section-attributes-categorie {
  display: flex;
  flex-direction: row;
  border-right: 1.5px solid #141414;
}

#categorie-01 {
  padding-right: 1rem;
}
#categorie-02 {
  padding-right: 2rem;
}
#categorie-03 {
  padding-right: 4rem;
}
#categorie-04 {
  padding-right: 4rem;
}

#categorie-05 {
  border-right: none;
}

.filter-section-attributes-col {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-section-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  text-align: center;
  font-family: "Telegraf-Bold";
  text-transform: uppercase;
  font-size: 0.875rem;
}

.filter-section-options-title {
  width: 15rem;
  padding: 0.5rem;
  border: 1.5px solid #141414;
}

.filter-section-options-title-big {
  width: 20rem;
  padding: 0.5rem;
  border: 1.5px solid #141414;
}

#continents {
  color: #3a64fa;
  border: 1.5px solid #3a64fa;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// B U TT O N S //////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.attribute {
  background-color: #eee;
  border-radius: 50%;
}

.radio-button input:checked ~ .attribute {
  background-color: #3a64fa;
}

.attribute:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-button input:checked ~ .attribute:after {
  display: block;
}

.radio-button .attribute:after {
  /*style indicator*/
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// A B O U T //////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.about-section-container {
  margin: 5rem 10rem 2rem 5rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  display: flex;
}

.about-section-project {
  width: 40vw;
  margin-right: 5rem;
}

.about-section h1 {
  margin-bottom: 3rem;
}

.about-section-us {
  width: 50vw;
  height: 40vh;
}

.about-section-us-profile{
  display: flex;
}

.about-section-us-profile p{
  margin-right: 2rem;
}

.about-section-us-profile a{
  color: #b4b4b4;
  position: absolute;
  text-decoration: underline;
  margin-top: 3rem;
}

#ricardo{
  margin-right: 0;
}

.degree{
  font-size: 0.8rem;
}

.nome{
  font-size: 1.6rem;
}
