* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: grid;
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  user-select: none;
}

.title {
  font-family: "Latitude-Regular";
  font-size: 3rem;
  color: #000000;
  margin-left: 2rem;
  margin-top: 2rem;
}

#my_dataviz {
  position: relative;
  margin-left: 50px;
  margin-top: 20px;
}

