* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: grid;
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  user-select: none;
}

@font-face {
  font-family: "Telegraf-Regular";
  src: url("fonts/Telegraf-Regular.woff");
}

@font-face {
  font-family: "Telegraf-Bold";
  src: url("fonts/Telegraf-Bold.woff");
}

.intro-section{
  margin-left: 5rem;
  margin-top: 2rem;
}

.intro-section-title {
  font-family: "Telegraf-Bold";
  text-transform: uppercase;
  font-size: 2rem;
  color: #3A64FA;
  letter-spacing: 0.05em;
}

.text-description {
  font-family: "Telegraf-Regular";
  font-size: 1rem;
  color: #141414;
  letter-spacing: 0.05em;
}

.intro-section-description {
  padding-top: 0.5rem;
}

#my_dataviz {
  position: relative;
  margin-left: 50px;
  margin-top: 20px;
}

.xAxis-label{
  position: relative;
}

.xAxis-label-title{
  position: absolute;
  right: 10rem;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// F I L T E R //////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.filter-section-options{
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-section-options-title{
  width:10rem;
  text-align: center;
  font-family: "Telegraf-Bold";
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #141414;
  letter-spacing: 0.05em;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 2px solid #141414;
}

.filter-section-options-title-big{
  width:20rem;
  text-align: center;
  font-family: "Telegraf-Bold";
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #141414;
  letter-spacing: 0.05em;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 2px solid #141414;
}
